.footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 40px;
  }
  
    .footer-icons{
        display: flex;
        gap: 20px;
    }

  .footer-icons a {
    color: white;
    transition: color 0.3s ease, transform 0.4s ease;  
  }
  
  .footer-icons a:hover {
    color: rgb(170, 2, 2);
    transform: scale(1.3); /* Facebook blue on hover */
  }
